<!-- Pre-Footer -->
<div id="prefooter" class="page-alternate-4">
    <div class="container">
        <div class="row">
            <div class="col">

                <p>
                    <img src="~/Assets/img/one_logo_footer.png"> <img src="~/Assets/img/dominican_shield_footer.png"><br>
                    Oficina Nacional de Estadística (ONE)<br>
                    Av. México esq. Leopoldo Navarro, Edif. de Oficinas<br>
                    Gubernamentales Juan Pablo Duarte, Piso 9, Santo Domingo, R.D.<br>
                    Tel: (809) 682-7777   |   info@one.gob.do <br>

                    <a href="">Términos de uso </a> | <a href=""> Políticas </a> | <a href=""> Preguntas frecuentes</a><br>

                    Todos los derechos reservados.
                </p>


            </div>
        </div>
    </div>
</div>
<!-- Fin Pre-Footer -->
<!-- Footer -->
<footer>
    <p class="credits">&copy;2018. <a href="http://one.gob.do" title="Oficina Nacional de Estad&iacute;stica, ONE">Oficina Nacional de Estad&iacute;stica, ONE</a></p>
</footer>
<!-- End Footer -->