<ul id="menu-nav">
    <li class="current"><a href="#home-slider">Inicio</a></li>
    <li><a href="#about">Nosotros</a></li>
    <li><a href="#indicators">Indicadores</a></li>
    <li><a href="#publications">Publicaciones</a></li>
    <li><a href="#team">Equipo de Trabajo</a></li>
    <li><a href="#contact">Contacto</a></li>
</ul>