
@*<div class="row">
    <div class="span12">
        <article>
            <header>
                <h3></h3>
                <h4></h4>
                <h5></h5>
                <h6></h6>
            </header>
            <section>*@

@Html.ActionLink("exportar pdf", "ExportPDFFile", "DataAction")
                <span id="titulo" style="color: #f70909"></span>
                <br />
                <table class="pnip-cuadro-series" id="" style="width: 100%"></table>
                <br />
                <spam id="fuente" style="color: #f70909"></spam>
            @*</section>
        </article>
    </div>
</div>*@