<div class="widget widget-timeline">
    <div class="widget-box">
        <div class="timeline-legend">
            <div class="timeline-name">
                Línea de tiempo
                <span></span>
            </div>
            <div class="timeline-latlng"></div>
        </div>
        <div class="timeline-container">
            <div class="timeline-year">
                <div class="play">
                    <div class="play-icon"></div>
                    <div class="stop-icon"></div>
                </div>
                <div class="time">
                    <div id="timeline"></div>
                </div>
            </div>
        </div>
    </div>
</div>