<!-- Nosotros -->
<div id="about" class="page">
    <div class="container">
        <!-- Titulo Pagina -->
        <div class="row">
            <div class="col">
                <div class="title-page">
                    <h2 class="title">Nosotros</h2>
                    @*<h3 class="title-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>*@
                </div>
            </div>
        </div>
        <!-- Fin Titulo Pagina -->
        <!-- Informacion -->
        <div class="row">

           <div class="col profile">
                <div class="image-wrap">
                    <img src="~/Assets/img/slider-images/image03.jpg" alt="Portal de Pobreza">
                </div>
                <h3 class="profile-name">Portal Nacional Interactivo de Pobreza (PNIP)</h3>
                <p class="profile-description">El <b>Portal Nacional Interactivo de Pobreza (PNIP)</b> es una herramienta innovadora creada por la Oficina Nacional de Estadística (ONE) para mostrar de forma transparente y oportuna, información estadística confiable sobre las condiciones de vida y de pobreza de la población dominicana, que sean metodológicamente comparables en el tiempo y consistentes con los estándares internacionales recomendados para tales fines.</p>
                <p class="profile-description">Esta iniciativa de la ONE con el apoyo de su Directora Nacional la Licenciada Alexandra Izquierdo, tiene como  objetivo primordial permitirles a los usuarios ya sean del sector público, privado, académicos, intelectuales, organismos internacionales y público en general, hacer consultas de forma dinámica e interactiva sobre datos estadísticos e información concerniente a las mediciones oficiales de pobreza monetaria e indicadores que desde la perspectiva no monetaria inciden de manera directa e indirecta en los niveles de pobreza de la población, con el fin de promover estudios e investigaciones que  permitan ampliar el acervo de conocimientos sobre las condiciones de vida y el bienestar de los dominicanos, que sirvan de base para la toma de decisiones de políticas públicas.</p>
                <p class="profile-description">La ONE pertenece al Comité Técnico Interinstitucional de Medición de Pobreza, según decreto No. 112-15 del 12 de mayo de 2015, que, al amparo del Convenio de Cooperación Interinstitucional, suscrito el 9 de noviembre de 2010, entre el Ministerio de Economía, Planificación y Desarrollo (MEPyD), el Banco Central de la República Dominicana (BCRD) y la Oficina Nacional de Estadística (ONE), con el apoyo de otras instituciones gubernamentales, organismos de la cooperación internacional y organizaciones no gubernamentales vinculadas al análisis de la realidad social dominicana, se estableció la “Metodología para el cálculo de la medición de la pobreza monetaria en República Dominicana”, la cual fue publicada en julio de 2012. </p>
                <p class="profile-description">La reducción progresiva de la pobreza, es parte de las metas a ser alcanzadas al 2030, ello constituye una prioridad en la Estrategia Nacional de Desarrollo, en el Plan Plurianual, en los Objetivos de Desarrollo Sostenible, todas, iniciativas apoyadas por el Presidente Danilo Medina lo cual se ve evidenciado en los programas sociales que están siendo implementados durante su gestión. El Portal Nacional Interactivo de Pobreza es una iniciativa de la ONE que contribuirá a dar seguimiento a las metas de políticas públicas que buscan reducir pobreza.</p>
                <p class="profile-description"><b>¡¡¡¡Con mejores datos, forjaremos mejores vidas!!!!</b></p>
            </div>

        </div>
        <!-- Fin Informacion -->
    </div>
</div>
<!-- Fin Nosotros -->