<!-- Contacto Seccion -->
<div id="contact" class="page-alternate-3">
    <div class="container">
        <!-- Titulo Pagina -->
        <div class="row">
            <div class="col">
                <div class="title-page">
                    <h2 class="title">Contacto</h2>
                    @*<h3 class="title-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>*@
                </div>
            </div>
        </div>
        <!-- Fin Titulo Pagina -->
        <!-- Contacto Form -->
        <div class="row">
            <div class="col">

                <form id="contact-form" class="contact-form" action="#">
                    <p class="contact-name">
                        <input id="contact_name" type="text" placeholder="Nombre y Apellido" value="" name="name" />
                    </p>
                    <p class="contact-email">
                        <input id="contact_email" type="text" placeholder="Correo electr&oacute;nico" value="" name="email" />
                    </p>
                    <p class="contact-message">
                        <textarea id="contact_message" placeholder="Mensaje" name="message" rows="15" cols="40"></textarea>
                    </p>
                    <p class="contact-submit">
                        <a id="contact-submit" class="submit" href="#">Enviar</a>
                    </p>

                    <div id="response">

                    </div>
                </form>

            </div>


        </div>
        <!-- End Contact Form -->
    </div>
</div>
<!-- End Contact Section -->