<!-- Resultados -->
<div id="indicators" class="page">
    <div class="container">
        <!-- Titulo Pagina -->
        <div class="row">
            <div class="col">
                <div class="title-page">
                    <h2 class="title">Indicadores</h2>
             </div>
            </div>
        </div>
        <!-- Fin Titulo Pagina -->
        <!-- Informacion -->
        <div class="row">


            <div class="col profile">

                <!--AQUI VA LA INFORMACION GRAFICA-->

            </div>

        </div>
        <!-- Fin Informacion -->
    </div>
</div>
<!-- Fin Resultados -->