<!-- Publicaciones -->

<style>
    li.item-thumbs.span3.design {
       
    }
    li.item-thumbs.span3.design img {
        height: 370px;
    }
    
</style>
<div id="publications" class="page-alternate-3">
    <div class="container">
        <!-- Titulo Pagina -->
        <div class="row">
            <div class="col">
                <div class="title-page">
                    <h2 class="title">Publicaciones</h2>
                </div>
            </div>
        </div>
        <!-- Fin Titulo Pagina -->
        <!-- Productos -->
        @*<div class="row">

            <div class="col">
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs">
                            <li class="item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="boletin No. 2 estadisticas-pobreza-monetaria-rd-octubre-2015" href="~/Assets/img/publicaciones/full/image-01-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-01.jpg" alt=" <a href='Assets/img/publicaciones/pdf/boletin No. 2 estadisticas-pobreza-monetaria-rd-octubre-2015.pdf' target='_blank'>Descargar</a>">
                            </li>
                            <li class="item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Boletín No.3 de Estadísticas Oficiales de Pobreza Monetaria, Octubre 2016" href="~/Assets/img/publicaciones/full/image-02-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-02.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Boletín No.3 de Estadísticas Oficiales de Pobreza Monetaria, Octubre 2016.pdf' target='_blank'>Descargar</a>">
                            </li>
                            <li class="item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Construcción del Agregado del Ingreso y del Gasto" href="~/Assets/img/publicaciones/full/image-03-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-03.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Construcción del Agregado del Ingreso y del Gasto.pdf' target='_blank'>Descargar</a>">
                            </li>
                            <li class="item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Metodología oficial de medición de la Pobreza Monetaria Completo" href="~/Assets/img/publicaciones/full/image-04-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-04.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Metodología oficial de medición de la Pobreza Monetaria Completo.pdf' target='_blank'>Descargar</a>">
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div>*@

        <div class="row">

            
                
                    
                        
                            <div class="col-12 col-md-6 col-lg item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="boletin No. 2 estadisticas-pobreza-monetaria-rd-octubre-2015" href="~/Assets/img/publicaciones/full/image-01-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-01.jpg" alt=" <a href='Assets/img/publicaciones/pdf/boletin No. 2 estadisticas-pobreza-monetaria-rd-octubre-2015.pdf' target='_blank'>Descargar</a>">
                            </div>
                            <div class="col-12 col-md-6 col-lg item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Boletín No.3 de Estadísticas Oficiales de Pobreza Monetaria, Octubre 2016" href="~/Assets/img/publicaciones/full/image-02-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-02.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Boletín No.3 de Estadísticas Oficiales de Pobreza Monetaria, Octubre 2016.pdf' target='_blank'>Descargar</a>">
                            </div>
                            <div class="col-12 col-md-6 col-lg item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Construcción del Agregado del Ingreso y del Gasto" href="~/Assets/img/publicaciones/full/image-03-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-03.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Construcción del Agregado del Ingreso y del Gasto.pdf' target='_blank'>Descargar</a>">
                            </div>
                            <div class="col-12 col-md-6 col-lg item-thumbs  design">
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Metodología oficial de medición de la Pobreza Monetaria Completo" href="~/Assets/img/publicaciones/full/image-04-full.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-download"></span>
                                </a>
                                <img src="~/Assets/img/publicaciones/thumbs/image-04.jpg" alt=" <a href='Assets/img/publicaciones/pdf/Metodología oficial de medición de la Pobreza Monetaria Completo.pdf' target='_blank'>Descargar</a>">
                            </div>
                        
                    

                </div>
            
        
        <!-- Fin Productos -->
    </div>
</div>
<!-- Fin Publicaciones -->