<!-- Redes Sociales -->
<div id="social-area" class="page-social">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav id="social">
                    <ul>
                        <li><a href="https://www.facebook.com/Oficina-Nacional-de-Estad%C3%ADstica-RD-ONE-462027067222699/" title="S&iacute;guenos en Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://twitter.com/ONERD_" title="S&iacute;guenos en Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                        <li><a href="https://www.youtube.com/user/EstadisticasONE" title="S&iacute;guenos en YouTube" target="_blank"><span class="font-icon-social-youtube"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Fin Redes Sociales -->