@*<!-- Equipo de Trabajo -->
<div id="team" class="page">
    <div class="container">
        <!-- titulo Pagina -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Equipo de Trabajo</h2>
                    <h3 class="title-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
                </div>
            </div>
        </div>
        <!-- Fin Titulo Pagina -->
        <!-- Perfiles -->
        <div class="row">

            <!-- Perfil 1 -->
            <div class="span3 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Directora Estad&iacute;sticas Cont&iacute;nuas</span>
                    </div>
                    <img src="~/Assets/img/profile/profile-01.png" alt="Cecilia Gonz&aacute;lez">
                </div>
                <h3 class="profile-name">Dra. Cecilia Gonz&aacute;lez</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                </p>
            </div>
            <!-- Fin Perfil 1 -->
            <!-- Perfil 2 -->
            <div class="span3 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Encargada Unidad de Metodolog&iacute;a, Documentaci&oacute;n y Clasificaci&oacute;n</span>
                    </div>
                    <img src="~/Assets/img/profile/profile-01.png" alt="Perla Rosario">
                </div>
                <h3 class="profile-name">Perla Rosario</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                </p>
            </div>
            <!-- Fin Perfil 2 -->
            <!-- Perfil 3 -->
            <div class="span3 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Analista de Estad&iacute;stica Sectorial</span>
                    </div>
                    <img src="~/Assets/img/profile/profile-02.png" alt="Isaac E. Guerra">
                </div>
                <h3 class="profile-name">Isaac E. Guerra</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                </p>
            </div>
            <!-- Fin Perfil 3 -->
            <!-- Perfil 4 -->
            <div class="span3 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Analista de Estad&iacute;stica Sectorial</span>
                    </div>
                    <img src="~/Assets/img/profile/profile-02.png" alt="Cornelio Polanco">
                </div>
                <h3 class="profile-name">Cornelio Polanco</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
                </p>
            </div>
            <!-- Fin Perfil 4 -->

        </div>
        <!-- Fin Perfiles -->
    </div>
</div>
<!-- Fin Equipo de Trabajo -->*@

<style>
    #team img {
        height: 170px;
    }
</style>
<div id="team" class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-page">
                    <h2 class="title">Equipo de Trabajo</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Directora de Estadísticas Continuas</span>
                    </div>
                    <img src="~/Assets/img/profile/foto.png" alt="Cecilia Gonz&aacute;lez" />
                </div>
                <h4 class="profile-name">Dr.C. Cecilia María González Fernández.</h4>
                <p>Directora de Estadísticas Continuas de la ONE. </p>
            </div>
            <div class="col-12 col-md-6 col-lg profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Encargada Unidad de Metodolog&iacute;a</span>
                    </div>
                    <img src="~/Assets/img/profile/perla.png" alt="Perla Rosario" />
                </div>
                <h4 class="profile-name">Lic. Perla Massiel Rosario Fabián.</h4>
                <p>Encargada Interina de la División de Metodología, Documentación y Clasificaciones. </p>

            </div>

            <div class="col-12 col-md-6 col-lg profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Analista de Estad&iacute;stica Sectorial</span>
                    </div>
                    <img src="~/Assets/img/profile/issac.png" alt="Isaac E. Guerra" />
                </div>
                <h4 class="profile-name">Lic. Isaac E. Guerra Salazar.</h4>
                <p>Analista de la División de Metodología, Documentación y Clasificaciones. </p>

            </div>
            <div class="col-12 col-md-6 col-lg profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Analista de Estad&iacute;stica Sectorial</span>
                    </div>
                    <img src="~/Assets/img/profile/cornelio.png" alt="Cornelio Polanco" />
                </div>
                <h4 class="profile-name">Cornelio A. Polanco Acosta</h4>
                <p>Analista de la División de Metodología, Documentación y Clasificaciones. </p>
            </div>
            <div class="col-12 col-md-6 col-lg profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Coordinadora de Indicadores</span>
                    </div>
                    <img src="~/Assets/img/profile/leidy.png" alt="Leidy Zabala" />
                </div>
                <h4 class="profile-name">Ma. Leidy Zabala</h4>
                <p> Coordinadora de Indicadores del Departamento de Estadísticas Económicas. </p>
            </div>
        </div>
    </div>
</div>